<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/ims/static/css/tax/area.css" />
</head>
<body background="/ims/static/img/tax/jsds_bg-1.jpg" topmargin="0">
  <table border="0" cellspacing="0" cellpadding="0" width="1002" background="/ims/static/img/tax/111108160022312.jpg"
    align="center" height="149">
    <tbody>
      <tr>
        <td align="right" valign="bottom"></td>
      </tr>
    </tbody>
  </table>
  <table width="1002" height="28" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="148" class="blue1" style="padding-left: 16px;"></td>
        <td width="639" class="blue1">
          <table width="100%" align="center">
            <tbody>
              <tr>
                <td valign="middle" width="60" align="center" style="padding-top: 1px"><a
                  style="color: #1a57a8; font-size: 10.5pt; text-decoration: none" href="http://www.chinatax.gov.cn"><b>总局网站</b>
                </a></td>
                <td valign="middle" width="18" align="center"><img border="0" width="2" height="14" alt=""
                  src="/ims/static/img/tax/110413111642087.jpg"></td>
                <td valign="middle" width="60" align="center" style="padding-top: 1px"><a
                  style="color: #1a57a8; font-size: 10.5pt; text-decoration: none" href="http://www.jsds.gov.cn/"><b>本站首页</b>
                </a></td>
                <td valign="middle" width="18" align="center"></td>
                <td valign="middle" width="60" align="center" style="padding-top: 1px"></td>
                <td valign="middle" width="18" align="center"></td>
                <td valign="middle" width="60" align="center" style="padding-top: 1px"></td>
                <td valign="middle" width="18" align="center"></td>
                <td valign="middle" width="60" align="center" style="padding-top: 1px"></td>
                <td valign="middle" width="18" align="center"></td>
                <td valign="middle" width="60" align="center" style="padding-top: 1px"></td>
                <td align="center" style="padding-top: 4px"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="215" class="blue1">
          <table width="215" border="0" cellspacing="0" cellpadding="0" height="28">
            <tbody>
              <tr>
                <td align="right" valign="middle" style="padding-right: 18px; line-height: 28px;"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td bgcolor="#e8ecee">
          <table border="0" cellspacing="0" cellpadding="0" width="1002" align="center" height="30">
            <tbody>
              <tr>
                <td background="/ims/static/img/tax/110504103709458.gif" width="84" align="center"
                  style="padding-left: 4px; padding-top: 4px"><font color="#ffffff"><b>子网站群</b> </font></td>

                <td align="right"><a class="zzq" href="http://nj.jsds.gov.cn">南京</a></td>
                <td align="right"><a class="zzq" href="http://wx.jsds.gov.cn">无锡</a></td>
                <td align="right"><a class="zzq" href="http://xz.jsds.gov.cn/">徐州</a></td>
                <td align="right"><a class="zzq" href="http://cz.jsds.gov.cn/">常州</a></td>
                <td align="right"><a class="zzq" href="http://sz.jsds.gov.cn/">苏州</a></td>
                <td align="right"><a class="zzq" href="http://nt.jsds.gov.cn/">南通</a></td>
                <td align="right"><a class="zzq" href="http://lyg.jsds.gov.cn/">连云港</a></td>
                <td align="right"><a class="zzq" href="http://ha.jsds.gov.cn/">淮安</a></td>
                <td align="right"><a class="zzq" href="http://yc.jsds.gov.cn/">盐城</a></td>
                <td align="right"><a class="zzq" href="http://yz.jsds.gov.cn/">扬州</a></td>
                <td align="right"><a class="zzq" href="http://zj.jsds.gov.cn/">镇江</a></td>
                <td align="right"><a class="zzq" href="http://tz.jsds.gov.cn/">泰州</a></td>
                <td align="right"><a class="zzq" href="http://sq.jsds.gov.cn/">宿迁</a></td>
                <td align="right"><a class="zzq" href="http://szyq.jsds.gov.cn/">苏州工业园区</a></td>


                <td align="right" style="padding-right: 10px; width: 360px;"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td height="10"></td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="6" valign="top"><img src="/ims/static/img/tax/jsds_index_14.jpg" width="6" height="95"></td>
        <td align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="166"><img src="/ims/static/img/tax/jsds_index_15.jpg" width="166" height="33"></td>
                <td background="/ims/static/img/tax/jsds_index_16.jpg">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center;">
            <tbody>
              <tr>
                <td height="70" align="center" valign="middle">
                  <table style="MARGIN-BOTTOM: 4px; text-align: center;" height="17" cellspacing="0" cellpadding="0" width="873"
                    border="0" align="center">
                    <tbody>
                      <tr align="middle">
                        <td></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid;"
                          width="180"><a class="gk" href="http://xxgk.jsds.gov.cn/col/col73/index.html">信息公开制度</a></td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid"
                          width="180"><a class="gk" href="http://xxgk.jsds.gov.cn/col/col74/index.html">信息公开年报</a></td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid;">
                          <a href="http://pub.jsds.gov.cn/col/col34597/index.html" class="gk">行政许可</a>
                        </td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid">
                          <a href="http://pub.jsds.gov.cn/col/col219/index.html" class="gk">全局概况</a>
                        </td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid;">
                          <a href="http://pub.jsds.gov.cn/col/col225/index.html" class="gk">计划规划</a>
                        </td>

                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="MARGIN-BOTTOM: 4px; text-align: center;" height="17" cellspacing="0" cellpadding="0" width="873"
                    border="0" align="center">
                    <tbody>
                      <tr align="middle">
                        <td></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid"
                          width="180"><a class="gk" href="#">信息公开指南</a></td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top"
                          style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid; letter-spacing: 2px;"
                          width="180"><a class="gk" href="#">依申请公开</a></td>

                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid;">
                          <a href="#" class="gk">行政确认</a>
                        </td>

                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid">
                          <a href="#" class="gk">领导专栏</a>
                        </td>

                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid">
                          <a href="#" class="gk">税收收入</a>
                        </td>

                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <table height="17" cellspacing="0" cellpadding="0" width="873" border="0" align="center">
                    <tbody>
                      <tr align="middle">
                        <td></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid"
                          width="180"><a class="gk" href="#">信息公开目录</a></td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top"
                          style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid; letter-spacing: 2px;"
                          width="180"><a class="gk" href="#">公开意见箱</a></td>

                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid;">
                          <a href="#" class="gk">行政强制</a>
                        </td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid">
                          <a href="#" class="gk">人事信息</a>
                        </td>
                        <td width="19" align="center" valign="top"></td>
                        <td align="center" valign="top" style="BORDER-RIGHT: #b7bac1 1px solid; BORDER-BOTTOM: #b7bac1 1px solid">
                          <a href="#" class="gk">服务承诺</a>
                        </td>

                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
        <td width="9" valign="top"><img src="/ims/static/img/tax/jsds_index_19.jpg" width="9" height="98"></td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="center">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style=""><iframe id="sjmhIframe2" longdesc="正在加载..." frameborder="0" scrolling="no" width="100%"
                    height="50px" src="http://pub.jsds.gov.cn/col/col54393/index.html"></iframe></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="6" valign="top"><img src="/ims/static/img/tax/jsds_index_14.jpg" width="6" height="95"></td>
        <td align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="166"><img src="/ims/static/img/tax/jsds_index_23.jpg" width="166" height="33"></td>
                <td background="/ims/static/img/tax/jsds_index_16.jpg">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table width="" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="1" height="90" align="left" valign="top"></td>
                <td id="sjmhIframe2Td" align="left" valign="top" width="403">
                  <table width="402" border="0" cellspacing="0" cellpadding="0"
                    style="BORDER-top: #abc2e4 1px solid; BORDER-right: #abc2e4 1px solid; BORDER-left: #abc2e4 1px solid; BORDER-bottom: #abc2e4 1px solid;">
                    <tbody>
                      <tr>
                        <td width="1" height="24"></td>
                        <td width="85" align="center" class="blue2">
                          <!--beginunit name=帮助办税 --> 帮助办税 <!--endunit -->
                        </td>
                        <td width="310" align="right"></td>
                        <td width="4"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="402" border="0" cellpadding="0" cellspacing="0"
                    style="BORDER-top: #abc2e4 0px solid; BORDER-right: #abc2e4 1px solid; BORDER-left: #abc2e4 1px solid; BORDER-bottom: #abc2e4 1px solid; background-repeat: repeat-x;">
                    <tbody>
                      <tr>
                        <td width="400" height="206" align="center" valign="top">
                          <table border="0" cellspacing="0" cellpadding="0" width="360" height="24" style="margin-top: 8px">
                            <tbody>
                              <tr>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col54074/index.html">办税指南</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col54079/index.html">优惠办理指南</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col72/index.html">办税地图</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col47696/index.html">办税日历</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellspacing="0" cellpadding="0" width="360" height="24" style="margin-top: 12px">
                            <tbody>
                              <tr>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/art/2012/3/7/art_47256_478611.html">办税时间</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/art/2012/3/7/art_47272_478784.html">办税电话</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col5542/index.html">办税时限</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col6622/index.html">税款计算</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellspacing="0" cellpadding="0" width="360" height="24" style="margin-top: 12px">
                            <tbody>
                              <tr>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col47736/index.html">税种税率</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col47636/index.html">基金 (费)</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex" style="letter-spacing: -1px"
                                  href="http://pub.jsds.gov.cn/col/col47619/index.html">核定率</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/art/2012/3/31/art_47416_482485.html">土地等级</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellspacing="0" cellpadding="0" width="360" height="24" style="margin-top: 12px">
                            <tbody>
                              <tr>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://www.chinatax.gov.cn/cjsfwwangluo/index.html">场景服务</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/art/2011/12/28/art_47316_268819.html">预约服务</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/art/2011/12/28/art_47332_462186.html">定制服务</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col12464/index.html">行政救济</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellspacing="0" cellpadding="0" width="360" height="24" style="margin-top: 12px">
                            <tbody>
                              <tr>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://pub.jsds.gov.cn/col/col49236/index.html">表单下载</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex"
                                  href="http://221.226.40.66:10004/sbLogin.do?dlly=1">发票印制</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" background="/ims/static/img/tax/130604163653997.jpg" width="78" align="center"
                                  style="background-repeat: no-repeat"><a class="bluex" href="http://221.226.40.108:10005/">印制管理</a></td>
                                <td>&nbsp;</td>
                                <td valign="middle" width="78" align="center" background="/ims/static/img/tax/130604163653997.jpg">
                                  <span style="background-repeat: no-repeat"> <a class="bluex"
                                    href="http://pub.jsds.gov.cn/art/2014/10/28/art_54432_661999.html">涉税中介服务</a>
                                </span>
                                </td>

                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="11" align="left" valign="top"></td>
                <td width="572" align="left" valign="top" style="border: #abc2e4 solid 1px;">
                  <ul class="wsbst">
                    <li class="bt_wsbst">网上办税厅</li>
                    <li id="sjmhIframe2Td" style="width: 466px;"><iframe id="sjmhIframe3" longdesc="正在加载..." frameborder="0"
                        scrolling="No" width="100%" height="24px" src="http://pub.jsds.gov.cn/col/col54133/index.html"></iframe></li>
                  </ul>
                  <ul class="wsbst1">
                    <li class="wsbsOn" id="wsbs_tab_0"">申报纳税</li>
                    <li class="wsbs" id="wsbs_tab_1">网开发票</li>
                    <li class="wsbs" id="wsbs_tab_2">发票查询</li>
                    <li class="wsbs" id="wsbs_tab_3">个税查询</li>
                    <li class="wsbs" id="wsbs_tab_4">新办户业务</li>
                  </ul>
                  <div id="wsbs_cont_0" style="display: block;">
                    <table width="98%" border="0" cellspacing="0" cellpadding="0" id="dwnsrDLTb2"
                      style="display: none; height: 170" align="center">
                      <tbody>
                        <tr>
                          <td>税务管理码:</td>
                          <td><label id="swglm_dw_display"> </label></td>
                        </tr>
                        <tr>
                          <td>纳税人识别号:</td>
                          <td><label id="nsrsbm_dw_display"> </label></td>
                        </tr>
                        <tr>
                          <td>纳税人名称:</td>
                          <td><label id="nsrmc_dw_display"> </label></td>
                        </tr>
                        <tr style="display: none" id="ejyh_dw_tr">
                          <td>二级用户名:</td>
                          <td><label id="ejyh_dw_display"> </label></td>
                        </tr>
                        <tr>

                          <td align="center" colspan="2"><br> <br> <img src="/ims/static/img/tax/tcxt.jpg"
                            style="cursor: pointer" width="100" onclick="exit()" height="23"></td>
                        </tr>
                      </tbody>
                    </table>
                    <form name="LoginNewForm" method="post" style="padding-bottom: 0px; padding-top: 0px; margin: 0px;"
                      action="/LoginNewAction.do" id="LoginNewForm">
                      <table width="98%" style="display: none; height: 170" border="0" id="ejyhDlTb" cellspacing="0"
                        cellpadding="0" align="center">
                        <tbody>
                          <tr>
                            <td align="left">二级用户:</td>
                            <td align="left"><select id="ejyh_loginid" name="ejyh_loginid">

                            </select></td>
                          </tr>
                          <tr>
                            <td align="left">二级密码:</td>
                            <td align="left"><input type="password" name="ejyh_password" id="ejyh_password" class="xhx"
                                size="15"></td>
                          </tr>
                          <tr>
                            <td height="40" colspan="2" align="center"><input type="button" value="登录" class="button"
                                onclick="ejyhLogin()"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table id="dwnsrDLTb" width="100%" border="0" cellspacing="0" cellpadding="0" height="166">
                        <tbody>
                          <tr>
                            <td width="68" valign="bottom" background="/ims/static/img/tax/xuxian.jpg"
                              style="background-repeat: no-repeat; background-position: right">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td height="100" align="center" valign="middle"><img
                                      src="/ims/static/img/tax/xiao_key.jpg" width="40" height="81"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td height="40" align="center"><img src="/ims/static/img/tax/login.jpg"
                                      style="cursor: pointer;" onclick="checkobject()"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td width="161" valign="bottom" background="/ims/static/img/tax/xuxian.jpg"
                              style="background-repeat: no-repeat; background-position: right">
                              <table border="0" cellspacing="0" cellpadding="0" width="98%" align="center">
                                <tbody>
                                  <tr>
                                    <td height="36" valign="middle" width="42" align="center" style="line-height: 14px;">税 务
                                      <br> 管理码
                                    </td>
                                    <td colspan="2" align="left" valign="middle" style="padding-left: 2px;"><input
                                        style="WIDTH: 100%; HEIGHT: 16px" type="text" id="login.username" name="login.username"
                                        size="19" class="xhx"
                                        onkeydown="javascript:if(event.keyCode==13){$('login.userpass').focus()}"></td>
                                  </tr>
                                  <tr>
                                    <td height="36" valign="middle" width="42" align="center">密 码</td>
                                    <td colspan="2" align="left" style="padding-left: 2px;"><input
                                        style="WIDTH: 100%; HEIGHT: 16px" type="password" size="21" id="login.userpass"
                                        name="login.userpass" class="xhx"
                                        onkeydown="javascript:if(event.keyCode==13){$('fjm').focus()}"></td>
                                  </tr>
                                  <tr>
                                    <td height="36" valign="middle" width="42" align="center">验证码</td>
                                    <td width="56" align="left" style="padding-left: 2px;"><input style="WIDTH: 100%;"
                                        name="fjm" id="fjm" type="text" maxlength="4" class="xhx" ></td>
                                    <td align="left" style="padding-right: 8px;"><img src="/ims/static/img/tax/fujia.jpg"
                                      id="fjmimg"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="28%" height="40">&nbsp;</td>
                                    <td width="35%"><img src="/ims/static/img/tax/login.jpg" style="cursor: pointer"
                                      onclick="javascript:window.location='area3.htm'"></td>
                                    <td width="37%"><img src="/ims/static/img/tax/chongzi.jpg"  style="cursor: pointer;"></td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                            <td width="166" align="center" valign="bottom" background="/ims/static/img/tax/xuxian.jpg"
                              style="background-repeat: no-repeat; background-position: right">
                              <table border="0" cellspacing="0" cellpadding="0" width="98%" align="center">
                                <tbody>
                                  <tr>
                                    <td height="36" valign="middle" width="45" align="center">纳税人识别号</td>
                                    <td colspan="2" align="left" valign="middle" style="padding-left: 4px;"><input
                                        style="WIDTH: 100%; HEIGHT: 16px" type="text" id="login.swkkh" name="login.swkkh"
                                        size="19" onkeydown="javascript:if(event.keyCode==13){$('login.swkmm').focus()}"
                                        class="xhx"></td>
                                  </tr>
                                  <tr>
                                    <td height="36" valign="middle" width="45" align="center">密 码</td>
                                    <td colspan="2" align="left" style="padding-left: 4px;"><input
                                        style="WIDTH: 100%; HEIGHT: 16px" type="password" size="21" id="login.swkmm"
                                        onkeydown="javascript:if(event.keyCode==13){$('swkfjm').focus()}" name="login.swkmm"
                                        class="xhx"></td>
                                  </tr>
                                  <tr>
                                    <td height="36" valign="middle" width="45" align="center">验证码</td>
                                    <td width="56" align="left" style="padding-left: 4px;"><input style="WIDTH: 100%;"
                                        name="swkfjm" id="swkfjm" type="text" maxlength="4" class="xhx" size="12"
                                        onkeydown="javascript:if(event.keyCode==13){login('1')}"></td>
                                    <td align="left" style="padding-right: 8px;"><img src="/ims/static/img/tax/fujia2.jpg"
                                      id="fjmimg_1"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="28%" height="40">&nbsp;</td>
                                    <td width="35%"><img src="/ims/static/img/tax/login.jpg" style="cursor: pointer"
                                      onclick="login('1')"></td>
                                    <td width="37%"><img src="/ims/static/img/tax/chongzi.jpg" onclick="cleanPage()"
                                      style="cursor: pointer;"></td>
                                  </tr>
                                </tbody>
                              </table> <input type="hidden" name="handleCode" value="" id="handleCode"> <input type="hidden"
                                id="login.dlfs" name="login.dlfs">
                            </td>

                            <td width="184" align="center" valign="bottom">
                              <form name="ZrrsbLoginNewForm" method="post"
                                style="padding-bottom: 0px; padding-top: 0px; margin: 0px;" action="" id="ZrrsbLoginNewForm">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" id="zrrLoginTb" align="center">
                                  <tbody>
                                    <tr>
                                      <td width="54" height="30" align="center">证件类型</td>
                                      <td colspan="2" align="left" valign="middle"><select name="zjlxdm_zrr" id="zjlxdm_zrr">
                                          <option value="06" selected="selected">身份证</option>
                                          <option value="07">军官证</option>
                                          <option value="05">旅行证</option>
                                          <option value="04">台胞证</option>
                                          <option value="03">回乡证</option>
                                          <option value="02">通行证</option>
                                          <option value="01">护照</option>
                                          <option value="90">其他</option>
                                      </select></td>
                                    </tr>
                                    <tr>
                                      <td width="54" height="30" align="center">证件号码</td>
                                      <td colspan="2" align="left" valign="middle"><input style="WIDTH: 130px; HEIGHT: 16px"
                                          type="text" id="zjhm_zrr" name="zjhm_zrr" size="19" class="xhx"
                                          onkeydown="javascript:if(event.keyCode==13){$('userpass_zrr').focus()}"></td>
                                    </tr>
                                    <tr>
                                      <td width="54" height="30" align="center">密 码</td>
                                      <td colspan="2" align="left"><input style="WIDTH: 130px; HEIGHT: 16px" type="password"
                                          size="21" id="userpass_zrr"
                                          onkeydown="javascript:if(event.keyCode==13){$('fjm_zrr').focus()}" name="userpass_zrr"
                                          class="xhx"></td>
                                    </tr>
                                    <tr>
                                      <td width="54" height="30" align="center">验&nbsp;证&nbsp;码</td>
                                      <td width="55" align="left" style="padding-left: 2px;"><input
                                          style="WIDTH: 50px; HEIGHT: 16px" name="fjm_zrr" id="fjm_zrr" type="text" maxlength="4"
                                          onkeydown="javascript:if(event.keyCode==13){zrrlogin()}" class="xhx" size="12">
                                      </td>
                                      <td align="left"><img src="/ims/static/img/tax/zrrfujia.jpg" id="fjmimg_zrr" width="45"
                                        height="20"></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="98%" border="0" cellspacing="0" cellpadding="0" height="40">
                                  <tbody>
                                    <tr>
                                      <td width="60"><img src="/ims/static/img/tax/login.jpg" onclick="zrrlogin()"
                                        style="cursor: pointer;"></td>
                                      <td width="57" align="left"><img src="/ims/static/img/tax/chongzi.jpg"
                                        onclick="cleanPage_zrr()" style="cursor: pointer;"></td>
                                      <td width="81"><img src="/ims/static/img/tax/zhmm.jpg"
                                        onclick="openCenterDialog('/zrrmmzhAction.do', '500px', '300px')" style="cursor: pointer;">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                                <input type="hidden" name="handleCode_zrr" id="handleCode_zrr">
                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="98%" border="0" cellspacing="0" style="display: none;" cellpadding="0" id="zrrLoginTb2"
                        align="center">
                        <tbody>
                          <tr>
                            <td>证件类型: <label id="sfzjmc_zrr_display"> </label>
                            </td>
                          </tr>
                          <tr>
                            <td>证件号码: <label id="zjhm_zrr_display"></label>
                            </td>
                          </tr>
                          <tr>
                            <td>姓名: <label id="mc_zrr_display"></label>
                            </td>
                          </tr>
                          <tr>

                            <td align="center"><br> <br> <img src="/ims/static/img/tax/tcxt.jpg"
                              style="cursor: pointer" width="100" onclick="exit()" height="23"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="98%" border="0" cellspacing="0" style="display: none;" cellpadding="0" id="zrrLoginTb3"
                        align="center">
                        <tbody>
                          <tr>
                            <td>序号</td>
                            <td>公司名称</td>
                            <td>操作</td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="98%" border="0" cellspacing="0" style="display: none;" cellpadding="0" id="sbLoginTb"
                        align="center">
                        <tbody>
                          <tr>
                            <td>序号</td>
                            <td>社保代码</td>
                            <td>操作</td>
                          </tr>
                        </tbody>
                      </table>

                    </form>
                  </div>
                  <div id="wsbs_cont_1" style="display: none;">
                    <div align="center" id="sjmhIframe6Td"
                      style="height: 170px; background: url(/ims/static/img/tax/wsbst_2.jpg);">
                      <iframe id="sjmhIframe6" longdesc="正在加载..." frameborder="0" scrolling="no" width="100%" height="170"></iframe>
                    </div>
                  </div>
                  <div id="wsbs_cont_2" style="display: none">
                    <div align="center" id="sjmhIframe4Td"
                      style="height: 170px; background: url(/ims/static/img/tax/wsbst_2.jpg);">
                      <iframe id="sjmhIframe4" longdesc="正在加载..." frameborder="0" scrolling="no" width="100%" height="170"></iframe>
                    </div>
                  </div>
                  <div id="wsbs_cont_3" style="display: none">
                    <div style="height: 170px; background: url(/ims/static/img/tax/wsbst_2.jpg);">
                      <form name="GscxLoginNewForm" method="post" action="/GscxLoginNewAction.do" id="GscxLoginNewForm">
                        <table border="0" id="gscxLoginTb" cellspacing="0" cellpadding="0" width="60%" align="center">
                          <tbody>
                            <tr>
                              <td height="30" width="109">证件类型</td>
                              <td colspan="2" align="left" valign="middle"><select name="zjlxdm_gs" id="zjlxdm_gs">
                                  <option value="06" selected="selected">身份证</option>
                                  <option value="07">军官证</option>
                                  <option value="05">旅行证</option>
                                  <option value="04">台胞证</option>
                                  <option value="03">回乡证</option>
                                  <option value="02">通行证</option>
                                  <option value="01">护照</option>
                                  <option value="90">其他</option>
                              </select></td>
                            </tr>
                            <tr>
                              <td height="30" width="109">证件号码</td>
                              <td colspan="2" align="left" valign="middle"><input style="WIDTH: 150px; HEIGHT: 16px"
                                  type="text" onkeydown="javascript:if(event.keyCode==13){$('userpass_gs').focus()}" id="zjhm_gs"
                                  name="zjhm_gs" size="19" class="xhx"></td>
                            </tr>
                            <tr>
                              <td height="30" width="109">密 码</td>
                              <td colspan="2" align="left"><input style="WIDTH: 150px; HEIGHT: 16px" type="password"
                                  onkeydown="javascript:if(event.keyCode==13){$('fjm_gs').focus()}" size="21" id="userpass_gs"
                                  name="userpass_gs" class="xhx"></td>
                            </tr>
                            <tr>
                              <td height="30" width="109">验&nbsp;证&nbsp;码</td>
                              <td width="70" align="left"><input style="WIDTH: 60px; HEIGHT: 16px" name="fjm_gs" id="fjm_gs"
                                  type="text" maxlength="4" class="xhx" size="12"
                                  onkeydown="javascript:if(event.keyCode==13){gscxlogin()}"></td>
                              <td width="163" align="left"><img src="/ims/static/img/tax/gsfujia.jpg" id="fjmimg_gs"></td>
                            </tr>
                            <tr>
                              <td width="312" height="50" align="right"><img src="/ims/static/img/tax/wsbst_5.jpg"
                                width="100" style="cursor: pointer;" onclick="gscxlogin()" height="23"></td>
                              <td width="22"></td>
                              <td width="236"><img src="/ims/static/img/tax/ymsx.jpg" onclick="cleanPage_gs()" width="60"
                                style="cursor: pointer;" height="23"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="98%" border="0" cellspacing="0" style="display: none;" cellpadding="0" id="gscxLoginTb2"
                          align="center">
                          <tbody>
                            <tr>
                              <td>证件类型: <label id="sfzjmc_gs_display"> </label>
                              </td>
                            </tr>
                            <tr>
                              <td>证件号码: <label id="zjhm_gs_display"></label>
                              </td>
                            </tr>
                            <tr>
                              <td>姓名: <label id="mc_gs_display"></label>
                              </td>
                            </tr>
                            <tr>
                              <td align="center"><br> <br> <img src="/ims/static/img/tax/tcxt.jpg"
                                style="cursor: pointer" width="100" onclick="exit()" height="23"></td>
                            </tr>
                          </tbody>
                        </table>
                        <input type="hidden" name="handleCode_gs" id="handleCode_gs">
                        <input type="hidden" name="handleDesc_gs" id="handleDesc_gs">
                      </form>
                    </div>
                  </div>
                  <div id="wsbs_cont_4" style="display: none;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="170">
                      <tbody>
                        <tr>
                          <td>
                            <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td width="50%" background="/ims/static/img/tax/xuxian.jpg"
                                    style="background-repeat: no-repeat; background-position: right">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr height="36" valign="middle" align="center">
                                          <td colspan="2"><b>新办户主管税务机关查询</b></td>
                                        </tr>
                                        <tr>
                                          <td height="36" valign="middle" width="42%" align="center" style="line-height: 14px;">
                                            社会信用代码 <br> （纳税人识别号）
                                          </td>
                                          <td align="left" valign="middle" width="58%" style="padding-left: 2px;"><input
                                              style="width: 95%; height: 16px" type="text" maxlength="30" id="shxydm"
                                              name="shxydm" size="18" class="xhx"></td>
                                        </tr>
                                        <tr>
                                          <td height="10" align="center"></td>
                                          <td></td>
                                        </tr>
                                        <tr align="center">
                                          <td height="40" align="center" colspan="2"><img src="/ims/static/img/tax/query.jpg"
                                            style="cursor: pointer;" onclick="openshxydm()"> &nbsp;&nbsp; <img
                                            src="/ims/static/img/tax/chongzi.jpg" onclick="cleanPage()" style="cursor: pointer;">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="50%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tbody>
                                        <tr height="45">
                                          <td valign="middle" height="45" background="/ims/static/img/tax/szhy004.png"
                                            align="center" style="background-repeat: no-repeat; background-position: center"><a
                                            class="bluex" href="/ZyzzSbRegisterAction.do">自由职业者网上<br>支付社保费注册
                                          </a></td>
                                        </tr>
                                        <tr>
                                          <td valign="middle" height="45" background="/ims/static/img/tax/szhy003.png"
                                            align="center" style="background-repeat: no-repeat; background-position: center"><a
                                            class="bluex" href="/WBYdjWorkAction.do">设立预登记</a></td>
                                        </tr>
                                        <tr>
                                          <td valign="middle" height="45" background="/ims/static/img/tax/szhy003.png"
                                            align="center" style="background-repeat: no-repeat; background-position: center"><a
                                            class="bluex" href="/WBZrrYdjWorkAction.do">自然人信息采集</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="9" valign="top"><img src="/ims/static/img/tax/jsds_index_19.jpg" width="9" height="98"></td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="center" id="sjmhIframe5Td"><iframe id="sjmhIframe5" longdesc="正在加载..." frameborder="0" scrolling="no"
            width="100%" height="1035px" src="http://pub.jsds.gov.cn/col/col53874/index.html"></iframe></td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="9">&nbsp;</td>
        <td align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0"
            style="BORDER-top: #abc2e4 1px solid; BORDER-right: #abc2e4 1px solid; BORDER-left: #abc2e4 1px solid; BORDER-bottom: #abc2e4 1px solid;">
            <tbody>
              <tr>
                <td width="2" height="26"></td>
                <td width="85" align="center" class="blue2">便民服务</td>
                <td align="right"></td>
                <td width="4"></td>
              </tr>
            </tbody>
          </table>
          <table width="100%" height="89" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td height="89" align="left" valign="top"
                  style="border-left: 1px solid #abc2e4; border-bottom: 1px solid #abc2e4; border-right: 1px solid #abc2e4; padding-left: 5px; padding-top: 5px; padding-right: 5px;">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td width="35" height="84" align="center"><img src="/ims/static/img/tax/0504_07.jpg" width="26"
                          height="82"></td>
                        <td width="180" align="left" style="border-right: 1px dotted #DADADA;">
                          <table height="63" cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tbody>
                              <tr>
                                <td height="21" align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.cma.gov.cn/">天气预报</a></td>
                                <td align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.ip138.com/post/">电话区号</a></td>
                              </tr>
                              <tr>
                                <td height="21" align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.safe.gov.cn">外汇牌价</a></td>
                                <td align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.tvsou.com/">电视节目</a></td>
                              </tr>
                              <tr>
                                <td height="21" align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.ip138.com/post/">邮编查询</a></td>
                                <td align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  style="letter-spacing: 6px" href="http://site.baidu.com/list/wannianli.htm">万年历</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="5"></td>
                        <td width="35" align="center"><img src="/ims/static/img/tax/0504_09-21.jpg" width="26" height="82"></td>
                        <td width="180" align="left" style="border-right: 1px dotted #DADADA;">
                          <table border="0" cellspacing="0" cellpadding="0" width="100%" height="63">
                            <tbody>
                              <tr>
                                <td width="height=21" align="middle"><span style="FONT-FAMILY: '宋体'">·</span><a
                                  class="bt_link" href="http://www.caac.gov.cn/">飞机航班</a></td>
                                <td align="middle"><span style="FONT-FAMILY: '宋体'">·</span><a class="bt_link"
                                  href="http://www.ip138.com/weizhang.htm">车辆违章</a></td>
                              </tr>
                              <tr>
                                <td height="21" align="middle"><span style="FONT-FAMILY: '宋体'">·</span><a class="bt_link"
                                  href="http://www.hao123.com/ss/lccx.htm">列车时刻</a></td>
                                <td align="middle"><span style="FONT-FAMILY: '宋体'">·</span><a class="bt_link"
                                  href="http://ditu.google.cn/">电子地图</a></td>
                              </tr>
                              <tr>
                                <td height="21" align="middle"><span style="FONT-FAMILY: '宋体'">·</span><a class="bt_link"
                                  href="http://www.keyunzhan.com/">长途客运</a></td>
                                <td align="middle"><span style="FONT-FAMILY: '宋体'">·</span><a class="bt_link"
                                  href="http://www.edushi.com/mapcity.html">三维地图</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="5"></td>
                        <td width="35" align="center"><img src="/ims/static/img/tax/0504_12.jpg" width="26" height="82"></td>
                        <td width="180" align="left" style="border-right: 1px dotted #DADADA;">
                          <table border="0" cellspacing="0" cellpadding="0" width="100%" height="63">
                            <tbody>
                              <tr>
                                <td height="21" align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.189.cn/">中国电信</a></td>
                                <td align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.js.10086.cn/">中国移动</a></td>
                              </tr>
                              <tr>
                                <td height="21" align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.10010.com/">中国联通</a></td>
                                <td align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.chinapost.gov.cn/folder9/folder95/">中国邮政</a></td>
                              </tr>
                              <tr>
                                <td height="21" align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.ftses.com">江苏电力</a></td>
                                <td align="center"><span style="font-family: '宋体'">·</span><a class="bt_link"
                                  href="http://www.jshrss.gov.cn/shbxfww/">江苏社保</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="5"></td>
                        <td width="35" align="center"><img src="/ims/static/img/tax/0504_14.jpg" width="26" height="82"></td>
                        <td align="left">
                          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td height="35" align="center" valign="middle"><select style="WIDTH: 120px;"
                                  onchange="openWww(this)" size="1" name="select3">
                                    <option selected="">--国家部委网站--</option>
                                    <option value="http://www.mfa.gov.cn">外交部</option>
                                    <option value="http://www.ndrc.gov.cn">国家发展和改革委员会</option>
                                    <option value="http://www.moe.gov.cn">教育部</option>
                                    <option value="http://www.most.gov.cn">科学技术部</option>
                                    <option value="http://www.miit.gov.cn/n11293472/index.html">工业和信息化部</option>
                                    <option value="http://www.seac.gov.cn">国家民族事务委员会</option>
                                    <option value="http://www.mps.gov.cn">公安部</option>
                                    <option value="http://www.mos.gov.cn">监察部</option>
                                    <option value="http://www.mca.gov.cn">民政部</option>
                                    <option value="http://www.moj.gov.cn/">司法部</option>
                                    <option value="http://www.mof.gov.cn/">财政部</option>
                                    <option value="http://www.mohrss.gov.cn">人力资源和社会保障部</option>
                                    <option value="http://www.mlr.gov.cn/">国土资源部</option>
                                    <option value="http://www.mep.gov.cn/">环境保护部</option>
                                    <option value="http://www.mohurd.gov.cn/">住房和城乡建设部</option>
                                    <option value="http://www.moc.gov.cn/">交通运输部</option>
                                    <option value="http://www.mwr.gov.cn/">水利部</option>
                                    <option value="http://www.moa.gov.cn/">农业部</option>
                                    <option value="http://www.mofcom.gov.cn/">商务部</option>
                                    <option value="http://www.mcprc.gov.cn/">文化部</option>
                                    <option value="http://www.nhfpc.gov.cn/">国家卫生和计划生育委员会</option>
                                    <option value="http://www.pbc.gov.cn/">中国人民银行</option>
                                    <option value="http://www.audit.gov.cn">审计署</option>
                                </select></td>
                                <td height="35" align="center" valign="middle"><select style="WIDTH: 120px;"
                                  onchange="openWww(this)" size="1" name="select3">
                                    <option selected="">--省级机关网站--</option>
                                    <option value="http://www.js.gov.cn/">中国江苏网站</option>
                                    <option value="http://www.jsyjw.gov.cn">江苏援疆网</option>
                                    <option value="http://www.jsdpc.gov.cn/">江苏省发展和改革委员会</option>
                                    <option value="http://www.jseic.gov.cn/">江苏省经济和信息化委员会</option>
                                    <option value="http://www.jsjyt.gov.cn/">江苏省教育厅</option>
                                    <option value="http://www.jstd.gov.cn/">江苏省科学技术厅</option>
                                    <option value="http://www.jsmzzj.gov.cn/">江苏省民族事务委员会</option>
                                    <option value="http://www.jsga.gov.cn/">江苏省公安厅</option>
                                    <option value="http://www.jsmz.gov.cn/">江苏省民政厅</option>
                                    <option value="http://www.jssf.gov.cn/">江苏省司法厅</option>
                                    <option value="http://www.jscz.gov.cn/">江苏省财政厅</option>
                                    <option value="http://www.jshrss.gov.cn/sy2011/index.html">江苏省人力资源和社会保障厅</option>
                                    <option value="http://www.jsmlr.gov.cn/">江苏省国土资源厅</option>
                                    <option value="http://www.jscin.gov.cn/">江苏省住房和城乡建设厅</option>
                                    <option value="http://www.jscd.gov.cn/">江苏省交通运输厅</option>
                                    <option value="http://www.jswater.gov.cn/">江苏省水利厅</option>
                                    <option value="http://www.jsagri.gov.cn/">江苏省农业委员会</option>
                                    <option value="http://www.jiangsudoc.gov.cn/">江苏省商务厅</option>
                                    <option value="http://www.jscnt.gov.cn">江苏省文化厅</option>
                                    <option value="http://www.jswst.gov.cn/">江苏省卫生和计划生育委员会</option>
                                    <!--
                                                            <OPTION value='http://www.jsfpc.gov.cn/'>
                                                                江苏省人口和计划生育委员会
                                                            </OPTION>
                                                            -->
                                    <option value="http://www.jssj.gov.cn/">江苏省审计厅</option>
                                    <option value="http://www.jshb.gov.cn/">江苏省环境保护厅</option>
                                    <option value="http://www.jsfao.gov.cn/">江苏省政府外事办公室</option>
                                    <option value="http://www.jssasac.gov.cn/">江苏省国资委</option>
                                    <option value="http://www.jsds.gov.cn/">江苏省地方税务局</option>
                                    <option value="http://www.jsgd.gov.cn/">江苏省新闻出版广电局（版权局）</option>
                                    <option value="http://www.jsgs.gov.cn/">江苏省国家税务局</option>
                                    <option value="http://www.jssports.gov.cn/">江苏省体育局</option>
                                    <option value="http://www.jschj.gov.cn/">江苏省测绘地理信息局</option>
                                    <option value="http://www.jssb.gov.cn/">江苏省统计局</option>
                                    <option value="http://www.jsgsj.gov.cn/">江苏省工商行政管理局</option>
                                    <!--
                                                            <OPTION value='http://www.jsxwcbj.gov.cn/'>
                                                                江苏省新闻出版局（版权局）
                                                            </OPTION>
                                                            -->
                                    <option value="http://www.jsqts.gov.cn/">江苏省质量技术监督局</option>
                                    <option value="http://www.jsfda.gov.cn/">江苏省食品药品监督管理局</option>
                                    <option value="http://www.jssafety.gov.cn/">江苏省安全生产监督管理局</option>
                                    <option value="http://www.jscss.gov.cn/">江苏省政府参事室</option>
                                    <option value="http://www.jsjrb.gov.cn/">江苏省金融办</option>
                                    <option value="http://nanjing.customs.gov.cn/">南京海关</option>
                                    <option value="http://www.jstour.gov.cn/">江苏省旅游局</option>
                                    <option value="http://www.jsgrain.gov.cn/">江苏省粮食局</option>
                                    <option value="http://www.jsmb.gov.cn/">江苏省气象局</option>
                                    <option value="http://www.jsof.gov.cn/">江苏省海洋与渔业局</option>
                                    <option value="http://www.jsglj.gov.cn/">江苏省省级机关事务管理局</option>
                                    <option value="http://www.jsrf.gov.cn/">江苏省民防局</option>
                                    <!--
                                                            <OPTION value='http://www.jsqw.com/'>
                                                                江苏省政府侨务办公室
                                                            </OPTION>
                                                            -->
                                    <option value="http://www.jsfzb.gov.cn/">江苏省政府法制办公室</option>
                                    <option value="http://www.jswjj.gov.cn/">江苏省物价局</option>
                                    <option value="http://www.jsip.gov.cn/">江苏省知识产权局</option>
                                    <option value="http://www.jsforestry.gov.cn/">江苏省林业局</option>
                                    <option value="http://www.jsacd.gov.cn/">江苏省农业资源开发局</option>
                                    <option value="http://www.jsjy.gov.cn/">江苏省监狱管理局</option>
                                    <option value="http://www.jshrss.gov.cn/jssgwyj/">江苏省公务员局</option>
                                    <option value="http://www.jsrm.gov.cn/">江苏省无线电管理局</option>
                                    <option value="http://www.jsciq.gov.cn/">江苏出入境检验检疫局</option>
                                    <option value="http://js.spb.gov.cn/">江苏省邮政管理局</option>
                                    <option value="http://www.dajs.gov.cn/">江苏省档案局</option>
                                    <option value="http://www.jsca.gov.cn/">江苏省通信管理局</option>
                                    <option value="http://www.js-seism.gov.cn/">江苏省地震局</option>
                                    <option value="http://www.jsic.gov.cn/">江苏省信息中心</option>
                                    <option value="http://www.jsco-op.gov.cn/">江苏省供销合作总社</option>
                                    <option value="http://www.jsnj.gov.cn/">江苏省农业机械管理局</option>
                                    <option value="http://www.js-msa.gov.cn/">江苏海事局</option>
                                    <option value="http://www.jssalt.gov.cn/">江苏省盐务管理局</option>
                                    <option value="http://www.jsslgc.gov.cn/">江苏省水利工程建设局</option>
                                    <option value="http://www.jssdfz.gov.cn/">江苏省地方志</option>
                                    <option value="http://www.jsql.cn/">江苏省侨联</option>
                                    <option value="http://www.jsmuseum.com/">江苏省文物局</option>
                                </select></td>
                              </tr>
                              <tr>
                                <td height="35" align="center" valign="middle"><select style="WIDTH: 120px;"
                                  onchange="openWww(this)" size="1" name="select3">
                                    <option selected="">--省级税务网站--</option>
                                    <option value="http://www.bjsat.gov.cn/bjsat/">北京市国家税务局</option>
                                    <option value="http://www.tax861.gov.cn/">北京市地方税务局</option>
                                    <option value="http://www.tjsat.gov.cn">天津市国家税务局</option>
                                    <option value="http://www.tjcs.gov.cn/">天津市地方税务局</option>
                                    <option value="http://www.he-n-tax.gov.cn/">河北省国家税务局</option>
                                    <option value="http://www.hebds.gov.cn/">河北省地方税务局</option>
                                    <option value="http://www.tax.sx.cn/">山西省国家税务局</option>
                                    <option value="http://www.sxs-l-tax.gov.cn/">山西省地方税务局</option>
                                    <option value="http://www.nm-n-tax.gov.cn/nmgsj/">内蒙古自治区国家税务局</option>
                                    <option value="http://www.nmds.gov.cn/">内蒙古自治区地方税务局</option>
                                    <option value="http://ln-n-tax.gov.cn/">辽宁省国家税务局</option>
                                    <option value="http://www.lnsds.gov.cn/">辽宁省地方税务局</option>
                                    <option value="http://www.jl-n-tax.gov.cn/">吉林省国家税务局</option>
                                    <option value="http://www.jlds.gov.cn/">吉林省地方税务局</option>
                                    <option value="http://www.hl-n-tax.gov.cn/">黑龙江省国家税务局</option>
                                    <option value="http://www.hljtax.gov.cn/">黑龙江省地方税务局</option>
                                    <option value="http://www.csj.sh.gov.cn/">上海市国家税务局</option>
                                    <option value="http://www.csj.sh.gov.cn/">上海市地方税务局</option>
                                    <option value="http://www.jsgs.gov.cn/">江苏省国家税务局</option>
                                    <option value="http://www.jsds.gov.cn/">江苏省地方税务局</option>
                                    <option value="http://www.zjtax.gov.cn">浙江省国家税务局</option>
                                    <option value="http://www.zj-l-tax.gov.cn/">浙江省地方税务局</option>
                                    <option value="http://www.ah-n-tax.gov.cn">安徽省国家税务局</option>
                                    <option value="http://www.ah-l-tax.gov.cn/">安徽省地方税务局</option>
                                    <option value="http://www.fj-n-tax.gov.cn/">福建省国家税务局</option>
                                    <option value="http://www.fj-l-tax.gov.cn/">福建省地方税务局</option>
                                    <option value="http://www.jx-n-tax.gov.cn/">江西省国家税务局</option>
                                    <option value="http://www.jxds.gov.cn">江西省地方税务局</option>
                                    <option value="http://www.sd-n-tax.gov.cn">山东省国家税务局</option>
                                    <option value="http://www.sdds.gov.cn/">山东省地方税务局</option>
                                    <option value="http://www.12366.ha.cn/">河南省国家税务局</option>
                                    <option value="http://www.ha-l-tax.gov.cn">河南省地方税务局</option>
                                    <option value="http://www.hb-n-tax.gov.cn">湖北省国家税务局</option>
                                    <option value="http://www.hb-l-tax.gov.cn">湖北省地方税务局</option>
                                    <option value="http://www.hntax.gov.cn">湖南省国家税务局</option>
                                    <option value="http://www.hnds.gov.cn/">湖南省地方税务局</option>
                                    <option value="http://www.gd-n-tax.gov.cn/">广东省国家税务局</option>
                                    <option value="http://www.gdltax.gov.cn">广东省地方税务局</option>
                                    <option value="http://www.gxgs.gov.cn/">广西自治区国家税务局</option>
                                    <option value="http://www.gxds.gov.cn/">广西自治区地方税务局</option>
                                    <option value="http://www.hitax.gov.cn">海南省国家税务局</option>
                                    <option value="http://www.tax.hainan.gov.cn/">海南省地方税务局</option>
                                    <option value="http://www.cqsw.gov.cn/">重庆市国家税务局</option>
                                    <option value="http://www.cq-l-tax.gov.cn/">重庆市地方税务局</option>
                                    <option value="http://www.sc-n-tax.gov.cn/">四川省国家税务局</option>
                                    <option value="http://www.sc-l-tax.gov.cn/">四川省地方税务局</option>
                                    <option value="http://www.gz-n-tax.gov.cn/">贵州省国家税务局</option>
                                    <option value="http://www.gz-l-tax.gov.cn/">贵州省地方税务局</option>
                                    <option value="http://www.yn-n-tax.gov.cn/">云南省国家税务局</option>
                                    <option value="http://www.ltax.yn.gov.cn/">云南省地方税务局</option>
                                    <option value="http://www.xztax.gov.cn">西藏自治区国家税务局</option>
                                    <option value="http://www.sn-n-tax.gov.cn/">陕西省国家税务局</option>
                                    <option value="http://www.snds.gov.cn/">陕西省地方税务局</option>
                                    <option value="http://www.gs-n-tax.gov.cn/">甘肃省国家税务局</option>
                                    <option value="http://www.gs-l-tax.gov.cn/">甘肃省地方税务局</option>
                                    <option value="http://www.qh-n-tax.gov.cn">青海省国家税务局</option>
                                    <option value="http://www.qhds.gov.cn/">青海省地方税务局</option>
                                    <option value="http://www.nxgs.gov.cn/">宁夏自治区国家税务局</option>
                                    <option value="http://www.nxds.gov.cn/">宁夏自治区地方税务局</option>
                                    <option value="http://www.xj-n-tax.gov.cn/">新疆自治区国家税务局</option>
                                    <option value="http://www.xjds.gov.cn/">新疆自治区地方税务局</option>
                                    <option value="http://www.dl-n-tax.gov.cn/">大连市国家税务局</option>
                                    <option value="http://www.dl-l-tax.gov.cn/">大连市地方税务局</option>
                                    <option value="http://www.nbtax.gov.cn/">宁波市国家税务局</option>
                                    <option value="http://www.nbcs.gov.cn">宁波市地方税务局</option>
                                    <option value="http://www.xm-n-tax.gov.cn/">厦门市国家税务局</option>
                                    <option value="http://www.xm-l-tax.gov.cn/index.html">厦门市地方税务局</option>
                                    <option value="http://www.qd-n-tax.gov.cn/">青岛市国家税务局</option>
                                    <option value="http://www.qdds.gov.cn">青岛市地方税务局</option>
                                    <option value="http://www.szgs.gov.cn/">深圳市国家税务局</option>
                                    <option value="http://www.szds.gov.cn/">深圳市地方税务局</option>
                                </select></td>
                                <td height="35" align="center" valign="middle"><select style="WIDTH: 120px;"
                                  onchange="openWww(this)" size="1" name="select3">
                                    <option selected="">--新闻媒体网站--</option>
                                    <option value="http://www.xinhuanet.com/">新华网</option>
                                    <option value="http://www.peopledaily.com.cn/">人民网</option>
                                    <option value="http://www.cctv.com">cctv</option>
                                    <option value="http://www.china.com.cn/index.htm">中国网</option>
                                    <option value="http://gb.cri.cn/">国际在线</option>
                                    <option value="http://www.chinadaily.com.cn/">中国日报网站</option>
                                    <option value="http://www.ce.cn/">中国经济网</option>
                                    <option value="http://www.youth.cn/">中青网</option>
                                    <option value="http://www.chinanews.com.cn/">中国新闻网</option>
                                    <option value="http://news.sina.com.cn/">新浪网新闻中心</option>
                                    <!--
                                                            <OPTION
                                                                value='http://www.ctaxnews.net.cn/html/2011-03/02/nbs.D340100zgswb_01.htm'>
                                                                中国税务报
                                                            </OPTION>
                                                            -->
                                    <option value="http://www.ctax.org.cn/">中国税务网</option>
                                </select></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="9">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 10px;">
    <tbody>
      <tr>
        <td height="30" align="center"><a href="http://pub.jsds.gov.cn/col/col7/index.html" class="bluex">关于我们</a><font
          style="padding: 0 10px; font-family:" 宋体';'="">-</font><a href="http://pub.jsds.gov.cn/col/col6/index.html"
          class="bluex">联系我们</a><font style="padding: 0 10px; font-family:" 宋体';'="">-</font><a
          href="http://pub.jsds.gov.cn/col/col4/index.html" class="bluex">隐私声明</a><font style="padding: 0 10px; font-family:"
          宋体';'="">-</font><a href="http://pub.jsds.gov.cn/col/col3/index.html" class="bluex">免责声明</a><font
          style="padding: 0 10px; font-family:" 宋体';'="">-</font><a
          href="http://pub.jsds.gov.cn/module/freshnews/index.jsp?uid=959" class="bluex">最新更新</a><font
          style="padding: 0 10px; font-family:" 宋体';'="">-</font><a href="http://pub.jsds.gov.cn/jcms/" class="bluex">信息报送</a></td>
      </tr>
    </tbody>
  </table>
  <table width="998" height="101" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="center" valign="top" style="padding-top: 6px; line-height: 22px;">主办单位：江苏省地方税务局 地址：江苏省南京市北京西路63号 邮编：210024
          <br> 维护单位：江苏省地方税务局纳税服务处 电话：025-12366 <br> 备案序号： <a href="http://www.miibeian.gov.cn/" class="bt_link">苏ICP备05011372号</a>
          <br> 任何人单位不得以任何方式复制或变相复制本网站全部或部分信息 建议使用IE6.0以上，分辨率1024*768浏览本网站
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>