<div style="z-index: -1; height: 800px; width: 600px; display: block; float: left;">
  <img alt="" src="/ims/static/img/a.png">
</div>
<div style="margin-top: 405px;">
  <font style="font-weight: bold; font-size: 16px; margin-left: -260px">300101010101088</font>
</div>
<div style="margin-top: 18px;">
  <font style="font-weight: bold; font-size: 17px; margin-left: -419px;">翡翠城有限责任公司限公司</font>
</div>
