<section class="section level-1">
  <h1 class="section-title">
    <p>用户管理</p>
  </h1>
  <div class="section-body">
    <div class="box">
      <section class="section level-2">
        <div class="section-body">
          <form id="form_search" method="post" class="form label-s" autocomplete="off">
            <div class="row">
              <div class="span span3">
                <label class="control-label">用户名</label>
                <div class="controls">
                  <input id="name" type="text" class="text" name="model.name" />
                </div>
              </div>
              <div class="span span3">
                <label class="control-label">角色</label>
                <div class="controls">
                  <select id="role" name="model.role" dict-key="role_type"></select>
                </div>
              </div>
              <div class="span span3">
                <div class="controls">
                  <input id="btn_search" type="button" class="btn btn-l" value="查询" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="box">
      <section class="section level-2">
        <div id="buttons" class="hide">
          <input id="btn_add" type="button" class="btn btn-m" value="批量新增" />
          <input id="btn_del" type="button" class="btn btn-m" value="批量删除" />
        </div>
        <div class="grid-wrapper">
          <div id="grid" class="grid"></div>
        </div>
      </section>
    </div>
  </div>
</section>

<script>
	KISSY.use("ims/user/list", function(S, M) {
		M.init();
	});

	function refresh() {
		KISSY.use("ims/user/list", function(S, M) {
			M.refresh();
		})
	}
</script>