<section class="section level-1">
  <h1 class="section-title">
    <p>角色管理</p>
  </h1>
  <div class="section-body">
    <div class="box">
      <section class="section level-2">
        <div class="grid-wrapper">
          <div id="grid" class="grid"></div>
        </div>
      </section>
    </div>
  </div>
</section>

<script>
	KISSY.use("ims/role/list", function(S, M) {
		M.init();
	});
</script>